.header {
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  background-color: #0783c9;
}

.logo {
  width: 15rem;
}

.hero {
  @media screen and #{$desktop_media_query} {
    display: flex;
  }
}

.hero-img {
  background-size: cover;
  background-position: center;

  @media screen and #{$mobile_media_query} {
    height: 65vw;
  }

  @media screen and #{$desktop_media_query} {
    min-width: 50vw;
    min-height: 25vw;
  }
}

.hero-content {
  background-color: #f26533;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media screen and #{$desktop_media_query} {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.2;
}

.divider {
  width: 9rem;
  height: 2px;
  background-color: #fcde04;
  margin-left: auto;
  margin-right: auto;
}

.sub-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.7;
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media screen and #{$desktop_media_query} {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  &.section--grey {
    background-color: #f2f2f2;
  }

  &.section--footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #0783c9;
  }
}

.copy {
  font-size: 2rem;
  line-height: 1.35;
}

.side-by-side {
  @media screen and #{$desktop_media_query} {
    display: flex;
    justify-content: center;
  }
}

.side-by-side__img {
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;

  @media screen and #{$mobile_media_query} {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }

  @media screen and #{$desktop_media_query} {
    margin-right: 4rem;
  }
}

.side-by-side__list {
  font-size: 2rem;
  line-height: 1.7;
  list-style: none;
  text-align: left;
  padding-left: 2rem;

  @media screen and #{$mobile_media_query} {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and #{$desktop_media_query} {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: '•';
      color: #f26533;
      font-weight: 700;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.footer-content {
  display: flex;

  @media screen and #{$mobile_media_query} {
    flex-direction: column;
    align-items: center;
  }

  @media screen and #{$desktop_media_query} {
    justify-content: space-between;
  }
}

.footer-links {
  display: flex;
  align-items: center;

  @media screen and #{$mobile_media_query} {
    margin-top: 2rem;
  }
}

.social-link {
  width: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
