.fluid-img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.row:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

.wrapper {
  padding-left: 2rem;
  padding-right: 2rem;

  &.wrapper--fixed {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }

  &.wrapper--hero {
    @media screen and #{$desktop_media_query} {
      max-width: 50rem;
    }
  }
}
